body{
    font-family: sans-serif;
    color: rgb(88, 87, 87);
    background-image: linear-gradient(to bottom, white, lightgray);
}

.menu{
    margin: auto;
    width: 60%;
    padding-top: 8px;
}

.menu a{
    padding-right: 45px;
    text-decoration: none;
    font-size: 12px;
}

img.apple{
    width: 17px;
}

img.busca{
    width: 17px;
}

img.bolsa{
    width: 17px;
}

div.principal{
    border: 1px solid red;
    margin: auto;
    width: 90%;
}

div.produto-e-itens{
    font-size: 40px;
    padding-top: 50px;
}

div.produtos img{
    padding-top: 70px;
    width: 120px;
}

div.links-produtos a{
    font-family: sans-serif;
    color: rgb(26, 26, 26);
    text-decoration: none;
    font-size: 17px;
    padding-right: 55px;
    padding-left: 50px;
}

div.links-produtos a.iphone{
    margin-left: -25px;
}

div.links-produtos a.ipad{
    margin-left: -33px;
}

div.links-produtos a.applewatch{
    margin-left: -46px;
}

div.links-produtos a.airpods{
    margin-left: -60px;
}

div.links-produtos a.airtag{
    margin-left: -60px;
}

div.links-produtos a.appletv{
    margin-left: -60px;
}

div.links-produtos a.acessorios{
    margin-left: -60px;
}

div.retangulos{
    display: block;
}

div.retangulos p{
    font-size: 30px;
}


div.retangulos div.retangulos-produtos img{
    width: 370px;
    border: 1px solid red;
    float: left;
    padding: 20px;
    
    border-radius: 60px;
}